<section
  class="resume-section p-3 p-lg-5 d-flex align-items-center"
  id="education"
>
  <div class="w-100">
    <h2 class="mb-5">Education</h2>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">PhD Applied Mathematics</h3>
        <div class="subheading mb-3">University of Minnesota</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li"></i>
            NSERC Alexander Graham Bell Canada Graduate Scholarship
          </li>
          <li>
            <i class="fa-li"></i>
            University of Minnesota Doctoral Dissertation Fellowship
          </li>
        </ul>
      </div>
    </div>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between"
    >
      <div class="resume-content">
        <h3 class="mb-0">MCS Computer Science</h3>
        <div class="subheading mb-3">University of Minnesota</div>
        <br />
      </div>
    </div>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">MSc Applied Mathematics</h3>
        <div class="subheading mb-3">University of Minnesota</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li"></i>
            FQRNT Research Scholarship
          </li>
          <li></li>
        </ul>
      </div>
    </div>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">BSc Mathematics and Physics</h3>
        <div class="subheading mb-3">McGill University</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li"></i>
            Twice meritorious winner in international Mathematical Contest in
            Modeling
          </li>
          <li>
            <i class="fa-li"></i>
            First class honors
          </li>
          <li></li>
        </ul>
      </div>
    </div>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">Technologies</h3>
        <div class="subheading mb-3"></div>
        <p>Python, PyTorch, Scikit-Learn, SQL, Spark, Linux.</p>
      </div>
    </div>
  </div>
</section>
