<section
  class="resume-section p-3 p-lg-5 d-flex justify-content-center"
  id="experience"
>
  <div class="w-100">
    <h2 class="mb-5">Experience</h2>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">Machine Learning Engineer</h3>
        <div class="subheading mb-3">Facebook AI</div>
        <ul class="fa-ul mb-0">

          <li>
            <i class="fa-li"></i>
            <p>
               Lead development of the open source PyTorch torchaudio library
               and optimization module.
            </p>
          </li>

          <li>
            <i class="fa-li"></i>
            <p>
               Develop deep learning models and training pipelines for audio
               and speech recognition.
            </p>
          </li>

          <li>
            <i class="fa-li"></i>
            <p>
               Build research collaborations between academia and the PyTorch
               open source community.
            </p>
          </li>

        </ul>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2019 - Present</span>
      </div>
    </div>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">Machine Learning Scientist</h3>
        <div class="subheading mb-3">Amazon</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li"></i>
            <p>
              Generate long-term stragegic inventory capacity forecast. Model
              counterfactual scenarios. Optimize supply chain expansion
              recommendations.
            </p>
          </li>
          <li>
            <i class="fa-li"></i>
            <p>
              Build causal impact models to estimate advertising campaign lift.
              Infer future returns and optimize advertising portfolio.
            </p>
          </li>
          <li>
            <i class="fa-li"></i>
            <p>
              Teach internal machine learning specialization course series on
              matrix factorization, dimensionality reduction, and recommender
              systems.
            </p>
          </li>
        </ul>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2017 - 2019</span>
      </div>
    </div>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">Chu Assistant Professor of Applied Mathematics</h3>
        <div class="subheading mb-3">Columbia University</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li"></i>
            <p>
              Model gravitational wave propagation to understand black hole
              collisions. Create and analyze novel specialized mixed finite
              element methods to simulate these models numerically.
            </p>
          </li>
        </ul>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2015 - 2017</span>
      </div>
    </div>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between"
    >
      <div class="resume-content">
        <h3 class="mb-0">Chief Data Scientist</h3>
        <div class="subheading mb-3">Vizanda</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li"></i>
            <p>
              Develop web-based software to automatically extract information
              from structured and unstructured data on the fly. Process the
              information to programatically generate relevant visualizations
              and intelligent insights.
            </p>
          </li>
        </ul>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2016 - 2017</span>
      </div>
    </div>
  </div>
</section>
