<section
  class="resume-section p-3 p-lg-5 d-flex align-items-center"
  id="hiking"
>
  <div class="w-100">
    <h2 class="mb-5">Hiking</h2>

    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="img/arches.jpg"
          ><img
            src="img/arches-mini.jpg"
            style="width: 175px; height: 283px;"
            class="img-thumbnail"
        /></a>
        <br />
        Arches
      </li>
      <li class="list-inline-item">
        <a href="img/grand.jpg"
          ><img
            src="img/grand-mini.jpg"
            style="width: 175px; height: 283px;"
            class="img-thumbnail"
        /></a>
        <br />
        Grand Teton
      </li>
      <li class="list-inline-item">
        <a href="img/mansfield1.jpg"
          ><img
            src="img/mansfield1-mini.jpg"
            style="width: 175px; height: 283px;"
            class="img-thumbnail"
        /></a>
        <br />
        Mount Mansfield
      </li>
      <li class="list-inline-item">
        <a href="img/boundarywaters.jpg"
          ><img
            src="img/boundarywaters-mini.jpg"
            style="width: 175px; height: 283px;"
            class="img-thumbnail"
        /></a>
        <br />
        Boundary Waters
      </li>
    </ul>
  </div>
</section>
