<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
  <div class="w-100">
    <h1 class="mb-0">
      Vincent
      <span class="text-primary">Quenneville-Bélair, PhD</span>
    </h1>
    <p class="subheading mb-5">Applied Mathematician</p>
    <div class="social-icons">
      <a href="mailto:vincentqb@gmail.com">
        <i class="fa fa-envelope"></i>
      </a>
      <div class="d-none d-print-inline">vincentqb@gmail.com<br /></div>
      <a href="https://linkedin.com/in/vincentqb">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <div class="d-none d-print-inline">linkedin.com/in/vincentqb<br /></div>
      <a href="https://github.com/vincentqb">
        <i class="fab fa-github"></i>
      </a>
      <div class="d-none d-print-inline">github.com/vincentqb<br /></div>
      <!--
      <a onclick="window.print()" aria-hidden="true">
        <i class="fa fa-print"></i>
      </a>
      <a href="docs/vincentqb-resume.pdf">
        <i class="fa fa-file-pdf d-print-none"></i>
      </a>
      <a href="https://scholar.google.com/citations?user=vincentqb">
        <i class="ai ai-google-scholar"></i>
      </a>
      <div class="d-none d-print-inline">
        scholar.google.com/citations?user=vincentqb<br>
      </div>
      -->
    </div>
  </div>
</section>
