<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="publications">
  <div class="w-100">
    <h2 class="mb-5">Featured Publications</h2>
    <div class="subheading mb-3">Authors in alphabetical order</div>
    <ul class="fa-ul mb-0">

      <li>
        <i class="fa-li fa"></i>
        <p>
        Bernardo Cockburn and Vincent Quenneville-B&eacute;lair.
        Uniform-in-time superconvergence of the HDG methods for the acoustic wave equation.
        <em>Mathematics of Computation</em>,
        <a href="http://dx.doi.org/10.1090/S0025-5718-2013-02743-3">83(285):65--85</a>, 2014.
        </p>
      </li>

      <li>
        <i class="fa-li fa"></i>
        <p>
        Alexandra Ortan, Vincent Quenneville-B&eacute;lair, Burt&nbsp;S. Tilley, and Jessica Townsend.
        On Taylor dispersion effects for transient solutions in geothermal heating systems.
        <em>International Journal of Heat and Mass Transfer</em>,
        <a href="http://dx.doi.org/10.1016/j.ijheatmasstransfer.2009.05.010">52(21-22):5072-5080</a>, 2009.
        </p>
      </li>

      <li>
        <i class="fa-li fa"></i>
        <p>
        Vincent Quenneville-B&eacute;lair.
        On primes in arithmetic progressions.
        <em>McGill Undergraduate Mathematics Magazine (MUMM)</em>, 2:7-9, 2008.
        </p>
      </li>

      <li>
        <i class="fa-li fa"></i>
        <p>
        Vincent Quenneville-B&eacute;lair.
        Once upon a time in a p-adic approximation lattice.
        <em>MUMM</em>, 2:41-43, 2008.
        </p>
      </li>

      <li>
        <i class="fa-li fa"></i>
        <p>
        Alexandra Ortan and Vincent Quenneville-B&eacute;lair.
        Optimizing efficiency of a geothermal air conditioner.
        <em>MUMM</em>, 2:13-15, 2008.
        </p>
      </li>

      <li>
        <i class="fa-li fa"></i>
        <p>
        Alexandra Ortan, Erin Prosk, and Vincent Quenneville-B&eacute;lair.
        The airplane seating problem.
        <em>MUMM</em>, 2:23-25,
        2008.
        </p>
      </li>

    </ul>
  </div>
</section>
