<!DOCTYPE html>
<html lang="en">

  {% head.html %}

  <body id="page-top">

    {% menu.html %}

    <div class="container-fluid p-0">

      {% profile.html %}

      <div class="d-print-none">
        <hr class="m-0">
      </div>

      {% experience.html %}

      <div class="d-print-none">
        <hr class="m-0">
      </div>

      {% education.html %}

      <div class="d-print-none">
        <hr class="m-0">
      </div>

      {% publications.html %}

      <div class="d-print-none">
        <hr class="m-0">
      </div>

      <div class="d-print-none">
        {% hiking.html %}
      </div>

    </div>

    {% foot.html %}

  </body>

</html>
